{% extends "accounts/layout.html" %} {% load socialaccount %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="text-center"><b>Sign In</b></h3>
          <br />
          <form method="POST"  action="#" class="form-signin">
            {% csrf_token %}
            {% for field in form %}
                    <div class="form-outline mb-4">
                        <input type="{{ field.field.widget.input_type }}" class="form-control form-control-lg" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}" />
                    </div>
            {% endfor %}
        <button class="btn btn-success btn-block" type="submit">Sign In</button>
        <br/>
        <h3 class="text-center"><b> OR </b> </h3>
        <be />
            <div class="form-group">
              <a
                class="btn btn-outline-secondary btn-block"href="{% provider_login_url 'google' %}">
                <img
                  src="https://dl.dropboxusercontent.com/s/es5sylabbcaobjr/google.png?dl=0"
                  alt="Google"
                  height="30"
                  class="d-inline-block mr-2"
                />Sign In With Google</a
              >
              
              <a
                class="btn btn-outline-secondary btn-block"
                href="{% provider_login_url 'github' %}">
                <img
                  src="https://dl.dropboxusercontent.com/s/2929dbjh0nvgbgn/github.png?dl=0"
                  alt="Github"
                  height="30"
                  class="d-inline-block mr-2"
                />Sign In With Github</a
              >
              <br />
           <div>
          </form>
          <div class="text-center text-lg-start mt-4 pt-2">
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'accounts:user-register' %}" class="link-danger">Register</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
